h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 45px;
}
.createArticle{
  width: 100px;
  height: 40px;
  margin-left: 170px;
}
.news-page {
  text-align: center;
}
.createArticle {
  margin-right: 1500px;
}
.news-page a {
  display: block;
    border: 1px;
    border-style: groove;
    border-color: black;
    width: 74px;
    margin-left: 90%;
    text-decoration: none;
    color: black;
}