.newsArticle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 58%;
  margin: 0 auto;
  justify-content: center;
  padding: 0px;
  background-color: rgb(231 255 231 / 63%);
  border: 2px;
  border-style: groove;
  border-color: #258f6f;
  margin-top: 50px;
}
li {
  width: 29%;
  margin: 21px 18px;
  text-align: center;
  list-style-type: none;
  border: 1px;
  border-color: black;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-sizing: border-box;
  padding: 5px;
  background-color: #fffffb;
  min-width: 223px;
}
h2 {
  text-align: center;
}
.article_text {
  grid-column-start: 1;
  grid-column-end: 3;
}
.view-more {
  width: 104px;
  height: 30px;
  margin: auto;
}
.article small {
  margin: auto;
}
.buttons_edit-button {
  margin-right: 5px;
}
.author {
  text-align: left;
}
